<meta name="viewport" content="width=device-width, initial-scale=1.0">

<hr>
<div align="center">
	<footer class="footer" style="color:white">
    <p>Yapımcı: <a href="http://anidiots.guide/">Bedirhan</a> | Discord sunucu:  <a href="https://discord.gg/gQNcnSw">Bana tıkla</a> | <a href="#top">Üste Çık</a></p>
	</footer>
</div>